.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
dist
node_modules

.parcel-cache
.history/
*.vsix

popup.bundle.js
passduck.zip
safari
PassDuck*
